Repository fogsong233/eventide: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, stylua

clang-format:
  name: clang-format (pixi)
  entry: pixi run clang-format
  language: system
  args:
  - -i

stylua:
  name: stylua (pixi)
  entry: pixi run stylua
  language: system

fix: format
  .clangd
  .gitignore
Due: none

feature: add struct and enum
  CMakeLists.txt
  include/reflection/enum.h
  include/reflection/name.h
  include/reflection/struct.h
  include/reflection/traits.h
  pixi.toml
  tests/reflection/name_tests.cpp
  tests/reflection/struct_tests.cpp
Due: clang-format

feature: improve cancellation (#5)
  include/eventide/frame.h
  include/eventide/task.h
  src/eventide/frame.cpp
  src/eventide/loop.cpp
  tests/eventide/task_tests.cpp
Due: clang-format

feature: add more async operations (#6)
  include/eventide/error.h
  include/eventide/frame.h
  include/eventide/fs.h
  include/eventide/handle.h
  include/eventide/process.h
  include/eventide/request.h
  include/eventide/stream.h
  include/eventide/sync.h
  include/eventide/task.h
  include/eventide/udp.h
  include/eventide/watcher.h
  include/eventide/when.h
  src/eventide/error.cpp
  src/eventide/frame.cpp
  src/eventide/fs.cpp
  src/eventide/process.cpp
  src/eventide/request.cpp
  src/eventide/stream.cpp
  src/eventide/udp.cpp
  src/eventide/watcher.cpp
  tests/eventide/fs_request_tests.cpp
  tests/eventide/process_tests.cpp
  tests/eventide/stream_tests.cpp
  tests/eventide/sync_tests.cpp
  tests/eventide/task_tests.cpp
  tests/eventide/udp_tests.cpp
  tests/eventide/watcher_tests.cpp
  tests/eventide/when_tests.cpp
  tests/eventide/work_request_tests.cpp
Due: clang-format

feature: add exception handling in task (#8)
  include/eventide/task.h
  include/zest/macro.h
  src/eventide/stream.cpp
  tests/eventide/task_tests.cpp
Due: clang-format

feat: add feature `stop()` to stream-acceptor and fix error handling in `stream.write()` (#15)
  include/eventide/error.h
  include/eventide/loop.h
  include/eventide/stream.h
  include/eventide/task.h
  src/eventide/error.cpp
  src/eventide/stream.cpp
  tests/eventide/stream_tests.cpp
  tests/eventide/task_tests.cpp
Due: clang-format

feature: add basic language server implementation (#18)
  .github/workflows/cmake.yml
  .github/workflows/xmake.yml
  .gitignore
  CMakeLists.txt
  include/eventide/compiler.h
  include/language/protocol.h
  include/language/server.h
  include/language/transport.h
  include/language/ts.h
  include/reflection/enum.h
  include/reflection/function.h
  include/serde/attrs.h
  include/serde/serde.h
  include/serde/simdjson/deserializer.h
  include/serde/simdjson/serializer.h
  include/serde/spelling.h
  pixi.lock
  pixi.toml
  scripts/lsp_codegen.py
  src/language/server.cpp
  src/language/transport.cpp
  tests/eventide/task_tests.cpp
  tests/language/server_tests.cpp
  xmake.lua
Due: clang-format, stylua

feature: basic flax buffer serialization (#19)
  .github/workflows/cmake.yml
  .github/workflows/xmake.yml
  CMakeLists.txt
  include/serde/flatbuffers/error.h
  include/serde/flatbuffers/flex/deserializer.h
  include/serde/flatbuffers/flex/serializer.h
  include/serde/flatbuffers/schema/schema.h
  src/eventide/CMakeLists.txt
  src/language/CMakeLists.txt
  src/reflection/CMakeLists.txt
  src/serde/CMakeLists.txt
  src/serde/flatbuffers/flex/deserializer.cpp
  src/serde/flatbuffers/flex/serializer.cpp
  src/zest/CMakeLists.txt
  tests/CMakeLists.txt
  tests/serde/flatbuffers_schema_tests.cpp
  tests/serde/flatbuffers_tests.cpp
  xmake.lua
Due: clang-format, stylua

fix: serialize and deserialize variant (#25)
  include/eventide/serde/flatbuffers/flex/deserializer.h
  include/eventide/serde/flatbuffers/flex/serializer.h
  include/eventide/serde/serde.h
  include/eventide/serde/simdjson/deserializer.h
  include/eventide/serde/simdjson/serializer.h
  include/eventide/serde/traits.h
  tests/CMakeLists.txt
  tests/serde/flatbuffers/flatbuffers_schema_tests.cpp
  tests/serde/flatbuffers/flatbuffers_tests.cpp
  tests/serde/simdjson/simdjson_tests.cpp
  tests/serde/simdjson_tests.cpp
Due: clang-format

fix README.md
  README.md
Due: none

fix mac bug
  include/eventide/deco/backend.h
  tests/deco/backend.cc
Due: clang-format

fix comments.
  include/eventide/option/parsed_arg.h
  tests/deco/backend.cc
Due: clang-format

add from_chars fallback
  include/eventide/deco/decl.h
Due: clang-format

fix mac libcxx
  pixi.lock
  pixi.toml
Due: none

fix xmake ci
  .github/workflows/xmake.yml
Due: none

fix mac
  xmake.lua
Due: stylua

fix sdk
  .github/workflows/cmake.yml
  .github/workflows/xmake.yml
Due: none

ci
  .github/workflows/cmake.yml
  .github/workflows/xmake.yml
Due: none

fix win ci
  .github/workflows/xmake.yml
Due: none

ci
  .github/workflows/xmake.yml
Due: none

add more constexpr
  tests/deco/decl.cc
  tests/deco/runtime.cc
Due: clang-format

ci test
  include/eventide/deco/decl.h
Due: clang-format

suppress the format ci
  .github/workflows/check-format.yml
Due: none

fix: xmake
  xmake.lua
Due: stylua

fix xmake
  xmake.lua
Due: stylua

feature: add some new language server components (#31)
  include/eventide/language/position.h
  include/eventide/language/server.h
  include/eventide/language/server.inl
  include/eventide/language/ts.h
  include/eventide/language/uri.h
  src/language/CMakeLists.txt
  src/language/position.cpp
  src/language/server.cpp
  src/language/uri.cpp
  tests/language/position_tests.cpp
  tests/language/server_tests.cpp
  tests/language/uri_tests.cpp
  xmake.lua
Due: clang-format, stylua

ci: resume format (#32)
  .github/workflows/check-format.yml
  include/eventide/deco/backend.h
  include/eventide/deco/runtime.h
  include/eventide/option/opt_specifier.h
  include/eventide/option/opt_table.h
  include/eventide/option/option.h
  include/eventide/option/util.h
  repro/clang_cl_consteval_optional.cpp
  src/option/opt_table.cc
  src/option/option.cc
  tests/option/option_tests.cpp
Due: clang-format

fix windows
  include/eventide/deco/backend.h
Due: clang-format

fix mem problem
  include/eventide/deco/backend.h
Due: clang-format

optimize: deco memory & feat: change test-filter option with deco (#35)
  .clang-format
  include/eventide/common/comptime.h
  include/eventide/deco/backend.h
  include/eventide/deco/decl.h
  include/eventide/deco/descriptor.h
  include/eventide/deco/macro.h
  include/eventide/deco/runtime.h
  include/eventide/deco/serialize.h
  include/eventide/deco/ty.h
  tests/deco/backend.cc
  tests/deco/decl.cc
  tests/deco/descriptor.cc
  tests/deco/git.cc
  tests/deco/runtime.cc
  tests/deco/serialize.cc
  tests/main.cpp
Due: clang-format

feature: add small vector (#43)
  include/eventide/common/memory.h
  include/eventide/common/small_vector.h
  tests/CMakeLists.txt
  tests/common/small_vector_tests.cpp
  xmake.lua
Due: clang-format, stylua

feature: more string utils (#45)
  CMakeLists.txt
  include/eventide/common/cow_string.h
  include/eventide/common/small_string.h
  include/eventide/common/small_vector.h
  include/eventide/common/string_ref.h
  include/eventide/reflection/name.h
  tests/common/cow_string_tests.cpp
Due: clang-format

feature: support multiple cancellation tokens (#47)
  examples/async_basics/async_basics.cpp
  examples/build_system/compile_graph.h
  examples/dump_dot/dump_dot.cpp
  examples/ipc/scripted_roundtrip.cpp
  examples/ipc/spawn_worker.cpp
  examples/ipc/stdio_server.cpp
  include/eventide/async/cancellation.h
  include/eventide/async/task.h
  include/eventide/ipc/peer.inl
  include/eventide/ipc/transport.h
  src/ipc/transport.cpp
  tests/eventide/cancellation_tests.cpp
  tests/eventide/when_tests.cpp
  tests/ipc/peer_tests.cpp
  tests/language/jsonrpc_traits_tests.cpp
Due: clang-format

fix mem leak
  src/option/option.cc
  tests/option/option_tests.cpp
Due: clang-format

fix: mem leak in option (#58)
  src/option/option.cc
  tests/option/option_tests.cpp
Due: clang-format

ci: rotate compiler cache key per commit (#62)
  .github/workflows/cmake.yml
Due: none

add stop ability in deco
  include/eventide/deco/backend.h
  include/eventide/deco/decl.h
  include/eventide/deco/descriptor.h
  include/eventide/deco/macro.h
  include/eventide/deco/runtime.h
  include/eventide/deco/serialize.h
  include/eventide/deco/trait.h
  include/eventide/option/opt_table.h
  tests/deco/decl.cc
  tests/deco/descriptor.cc
  tests/deco/git.cc
  tests/deco/runtime.cc
  tests/deco/serialize.cc
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: \.patch$
  stylua: any of: (^xmake\.lua$|^editors/nvim/(lua|plugin|test)/.*\.lua$), but not: \.patch$
