Repository fogsong233/eventide: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, stylua

.pre-commit-config.yaml:

# .pre-commit-config.yaml
exclude: "\\.patch$"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format (pixi)
        entry: pixi run clang-format
        language: system
        types_or: [c, c++]
        args: ["-i"]

      - id: stylua
        name: stylua (pixi)
        entry: pixi run stylua
        language: system
        files: '(^xmake\.lua$|^editors/nvim/(lua|plugin|test)/.*\.lua$)'

Update include/eventide/deco/runtime.h
  include/eventide/deco/runtime.h
Due: clang-format

refactor(async): add or_fail task propagation and clean up error flow (#67)
  README.md
  include/eventide/async/io/request.h
  include/eventide/async/runtime/frame.h
  include/eventide/async/runtime/task.h
  include/eventide/async/vocab/cancellation.h
  include/eventide/ipc/lsp/progress.h
  include/eventide/ipc/peer.inl
  src/async/io/acceptor.cpp
  src/async/io/fs.cpp
  src/async/io/request.cpp
  src/async/io/stream.cpp
  src/async/io/udp.cpp
  src/async/io/watcher.cpp
  src/async/runtime/frame.cpp
  src/ipc/transport.cpp
  tests/async/fs_tests.cpp
  tests/async/stream_tests.cpp
  tests/async/task_tests.cpp
  tests/async/udp_tests.cpp
  tests/async/when_tests.cpp
  tests/async/work_request_tests.cpp
  tests/ipc/lsp/jsonrpc_traits_tests.cpp
  tests/ipc/peer_tests.cpp
  tests/ipc/test_transport.h
Due: clang-format

fix: scope no-exception flags to eventide targets (#69)
  .github/workflows/cmake.yml
  CMakeLists.txt
Due: none

update deco to support flow parse
  include/eventide/deco/deco.h
  include/eventide/deco/detail/backend.h
  include/eventide/deco/detail/decl.h
  include/eventide/deco/detail/descriptor.h
  include/eventide/deco/detail/macro.h
  include/eventide/deco/detail/runtime.h
  include/eventide/deco/detail/serialize.h
  include/eventide/deco/detail/trait.h
  include/eventide/deco/detail/ty.h
  include/eventide/deco/runtime.h
  include/eventide/option/detail/opt_specifier.h
  include/eventide/option/detail/opt_table.h
  include/eventide/option/detail/option.h
  include/eventide/option/detail/parsed_arg.h
  include/eventide/option/detail/util.h
  include/eventide/option/option.h
  src/deco/CMakeLists.txt
  src/deco/runtime.cc
  src/option/opt_table.cc
  src/option/option.cc
  tests/deco/backend.cc
  tests/deco/decl.cc
  tests/deco/descriptor.cc
  tests/deco/git.cc
  tests/deco/runtime.cc
  tests/deco/serialize.cc
  tests/main.cpp
  tests/option/option_tests.cpp
  xmake.lua
Due: clang-format, stylua

resolve comment & align the usage
  include/eventide/deco/decl.h
  include/eventide/deco/detail/decl.h
  include/eventide/deco/detail/runtime.h
  include/eventide/deco/detail/serialize.h
  include/eventide/deco/detail/trait.h
  include/eventide/deco/macro.h
  include/eventide/deco/runtime.h
  include/eventide/option/detail/option.h
  src/deco/text.cc
  src/zest/runner.cpp
  tests/unit/deco/decl.cc
  tests/unit/deco/runtime.cc
Due: clang-format

add modern render
  src/zest/runner.cpp
Due: clang-format

feat(fs): complete async wrappers for all libuv fs operations (#73)
  include/eventide/async/async.h
  include/eventide/async/io/fs.h
  include/eventide/async/io/fs_event.h
  src/async/CMakeLists.txt
  src/async/io/fs.cpp
  src/async/io/fs_event.cpp
  src/async/libuv.h
  tests/unit/async/fs_tests.cpp
Due: clang-format

Fix CI follow-up issues
  include/eventide/common/functional.h
  tests/unit/deco/runtime.cc
Due: clang-format

fix xmake
  xmake.lua
Due: stylua

add deps of deco
  xmake.lua
Due: stylua

feat(zest): support custom test fixtures (#83)
  include/eventide/zest/detail/registry.h
  include/eventide/zest/detail/suite.h
  include/eventide/zest/macro.h
  tests/unit/async/build_system_tests.cpp
  tests/unit/async/cancellation_tests.cpp
  tests/unit/async/fs_tests.cpp
  tests/unit/async/loop_fixture.h
  tests/unit/async/process_tests.cpp
  tests/unit/async/stream_tests.cpp
  tests/unit/async/sync_tests.cpp
  tests/unit/async/udp_tests.cpp
  tests/unit/async/watcher_tests.cpp
  tests/unit/async/work_request_tests.cpp
Due: clang-format

feat(async): thread-safe event_loop::post() (#88)
  include/eventide/async/io/loop.h
  src/async/io/loop.cpp
  src/async/libuv.h
  tests/unit/async/post_tests.cpp
Due: clang-format

refactor(ipc): use FILE* and JSONL timestamps in RecordingTransport (#91)
  include/eventide/ipc/recording_transport.h
  src/ipc/recording_transport.cpp
Due: clang-format

fix(ipc): header size check rejects large payloads in single chunk (#93)
  src/ipc/transport.cpp
  tests/unit/common/fd_helpers.h
  tests/unit/ipc/transport_tests.cpp
Due: clang-format

fix(serde): reject structs with missing required fields (#95)
  include/eventide/serde/serde/annotation.h
  include/eventide/serde/serde/attrs/schema.h
  include/eventide/serde/serde/utils/reflectable.h
  pixi.toml
  src/ipc/json_codec.cpp
  tests/unit/serde/json/simdjson_tests.cpp
  tests/unit/serde/json/simdjson_variant_detail_tests.cpp
  tests/unit/serde/standard_case_suite.h
  tombi.toml
Due: clang-format

refactor(serde): introduce serde_error<Kind> with path/location tracking, unify error handling (#97)
  include/eventide/ipc/bincode_codec.h
  include/eventide/ipc/json_codec.h
  include/eventide/serde/bincode/deserializer.h
  include/eventide/serde/bincode/error.h
  include/eventide/serde/bincode/serializer.h
  include/eventide/serde/content/deserializer.h
  include/eventide/serde/content/error.h
  include/eventide/serde/json/deserializer.h
  include/eventide/serde/json/error.h
  include/eventide/serde/json/json.h
  include/eventide/serde/json/serializer.h
  include/eventide/serde/serde/attrs.h
  include/eventide/serde/serde/error.h
  include/eventide/serde/serde/serde.h
  include/eventide/serde/serde/traits.h
  include/eventide/serde/serde/utils/apply_behavior.h
  include/eventide/serde/serde/utils/backend_helpers.h
  include/eventide/serde/serde/utils/reflectable.h
  include/eventide/serde/serde/utils/tagged.h
  include/eventide/serde/toml/deserializer.h
  include/eventide/serde/toml/error.h
  include/eventide/serde/toml/serializer.h
  include/eventide/serde/toml/toml.h
  src/ipc/bincode_codec.cpp
  src/ipc/json_codec.cpp
  tests/unit/serde/bincode/bincode_torture_tests.cpp
  tests/unit/serde/content/yyjson_torture_tests.cpp
  tests/unit/serde/json/simdjson_error_message_tests.cpp
  tests/unit/serde/json/simdjson_torture_tests.cpp
  tests/unit/serde/toml/toml_error_message_tests.cpp
  tests/unit/serde/toml/toml_torture_tests.cpp
Due: clang-format

feat(deco): add KVStyle::JoinedOrSeparate enum value (#98)
  include/eventide/deco/detail/decl.h
Due: clang-format

fix(build): gate _CRT_SECURE_NO_WARNINGS on WIN32, not MSVC (#111)
  CMakeLists.txt
Due: none

fix(build): add pixi openssl dep for curl source build, restore HTTP in all-tests
  CMakeLists.txt
  pixi.toml
Due: none

fix comments
  CMakeLists.txt
  include/kota/http/detail/client_state.h
  include/kota/http/detail/common.h
  include/kota/http/detail/prepared_request.h
  include/kota/http/detail/runtime.h
  pixi.lock
  src/http/execute.cpp
  src/http/manager.cpp
  src/http/prepared_request.cpp
  src/http/request.cpp
  tests/CMakeLists.txt
  tests/unit/http/http_tests.cpp
  xmake.lua
Due: clang-format, stylua

fix comments
  CMakeLists.txt
  examples/http/github_avatar_download.cpp
  examples/http/http_showcase.cpp
  examples/http/httpbin_cookie_flow.cpp
  examples/http/openai_responses.cpp
  examples/http/webdav_list.cpp
  include/kota/http/detail/client.h
  include/kota/http/detail/client_state.h
  include/kota/http/detail/common.h
  include/kota/http/detail/curl.h
  include/kota/http/detail/manager.h
  include/kota/http/detail/options.h
  include/kota/http/detail/prepared_request.h
  include/kota/http/detail/request.h
  include/kota/http/detail/response.h
  include/kota/http/detail/runtime.h
  include/kota/http/detail/util.h
  include/kota/http/http.h
  src/http/CMakeLists.txt
  src/http/curl.cpp
  src/http/execute.cpp
  src/http/manager.cpp
  src/http/prepared_request.cpp
  src/http/request.cpp
  src/http/response.cpp
  tests/unit/http/http_tests.cpp
Due: clang-format

fix(build): use homebrew OpenSSL on macOS instead of pixi's
  src/http/CMakeLists.txt
Due: none
